flask==3.1.0
gunicorn==23.0.0
requests==2.32.3
google-api-python-client==2.166.0
flask-cors==5.0.1
python-dotenv==1.1.0
pyasn1_modules==0.4.2
pyparsing==3.2.3
rsa==4.9
six==1.17.0
numpy==1.26.4  # Keep if a dependency pulls it, otherwise remove
protobuf  # Let pip resolve the version
uvicorn